.div{
width: 400px;
height: 400px;
background-image:url("260384800_280568704003742_2666075693346015991_n.png");
}
.assign-4-shape-1{
    background-repeat: no-repeat;
    background-size: 80% 80%;
}
.assign-4-shape-2{
    background-repeat: repeat-y;
    background-position: right;
    background-size: 80% ;
}
.assign-4-shape-3{
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 80%;
}